{% load staticfiles %}
<html>
    <head>
    
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <title>Trial Match</title>
		<div class="page-header">
		
			<h1>Clinical Trial Matching</a></h1>
		</div>
		
	</head>
		
    <body>
	<div class="container-fluid">
	<form  action="/trialmatch/search/" method="post" >
			{% csrf_token %}
			<div class="form-group">
			<div class="col-md-4">
				<label for="exampleInputDisease">Enter the disease of the patient</label>
				<input type="text" class="form-control" id="disease" placeholder="Disease Type" name="diseaseType">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="exampleInputAge">Age in years</label>
				<input type="text" class="form-control" id="age" placeholder="Age" name="age">	
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="exampleInputMale">Gender</label>
				<select class="form-control" id="gender" name="gender">
					<option>Select</option>
					<option>Male</option>
					<option>Female</option>
					<option>Both</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="exampleInputGene">Gene Mutation</label>
				<input type="text" class="form-control" id="gene" placeholder="Gene" name="geneType">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="exampleInputAAS">Amino Acid Substitution</label>
				<input type="text" class="form-control" id="aas" placeholder="AAS" name="aas">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="exampleInputStage">Stage</label>
				<select class="form-control" id="stage" name="stage">
					<option>Select</option>
					<option>Stage I</option>
					<option>Stage II</option>
					<option>Stage III</option>
					<option>Stage IV</option>
				</select>
			</div>
		</div>
		
		<div class="col-md-2">
		<div class="buttonsub">
		<input type="submit" class="btn btn-default" >
		</div>
		</div>
		
	</form>
	</div>
	
	
		
	
	</body>
</html>